# Python-related
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
backend/venv/
backend/test_env/

# macOS
.DS_Store

# Editor-related
.vscode/

# Logs
*.log

# Node.js dependencies (frontend)
node_modules/